[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple"
verify_ssl = false

[dev-packages]

[packages]
django = "==2.2.3"
pillow = "==6.1.0"
requests = "==2.22.0"
django-cors-headers = "==3.0.2"
djangorestframework = "==3.10.1"
django-filter = "==2.2.0"
mysqlclient = "==1.4.6"
simplejson = "==3.17.0"
djongo = "*"
pymongo = "==3.7.2"
django-aliyun-oss2 = "*"
django-qiniu-storage = "*"

[requires]
python_version = "3.7"
